@import "../base/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 110vw;
  position: fixed;
  top: 0;
  right: 0;
  right: 5rem;
  z-index: 10;
}

// section.navbar img {
//   width: 9rem;
//   border-radius: 5rem;
//   transition: all 2s;
//   cursor: pointer;
//   background: black;
//   margin: -5rem 0 0 3rem;
//   height: 8rem;
// }
.menu {
  position: relative;
  z-index: 500;
}

.navList {
  position: absolute;
  width: 150vw;
  height: 200vh;
  border-radius: 90%;
  background: bisque;
  top: 0;
  right: -100rem;
  opacity: 0.5;
  padding-top: 20rem;
}

i.fa-solid.fa-bars {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-size: 4rem;
  color: azure;
  border-radius: 50%;
  padding: 3rem;
  background: black;
  margin: 3rem 5rem 5rem 0;
  cursor: pointer;
  z-index: 500;
}
.navList li a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(11, 0, 0);
  z-index: 600;
}
li.navigation {
  text-align: center;
  margin-bottom: 2rem;
  list-style-type: none;
  z-index: 600;
}
